@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");

:root {
  --color-1: #d14d72;
  --color-2: #ffabab;
  --color-3: #fcc8d1;
  --color-4: #fef2f4;
  --color-5: #ffffff;
  --color-6: #092635;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Comic Neue", cursive;
}

body {
  background-color: var(--color-4);
}

/* navbar */
.nav-item .nav-link {
  color: #fef2f4;
  transition: all 0.5s ease-in;
}

.nav-item .nav-link:hover {
  color: var(--color-3);
}

.btn-open {
  background-color: var(--color-1);
  color: var(--color-4);
  font-weight: bold;
  font-size: 18px;
  padding: 8px 20px;
  transition: all 0.5s ease;
}

.btn-open:hover {
  background-color: var(--color-2);
}

.box-cover {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-cover .box-item,
h3 {
  text-align: center;
  color: var(--color-1);
  font-size: 36px;
}

.box-love .box-item-love {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-love {
  background-color: var(--color-1);
  color: var(--color-4);
  font-weight: bold;
  font-size: 18px;
  padding: 8px 20px;
  transition: all 0.5s ease;
}

.btn-love:hover {
  background-color: var(--color-2);
  color: var(--color-1);
}

.modal-content {
  background: var(--color-1);
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-img {
  width: 22rem;
  display: block;
  margin: 0 auto;
}

.thumbnail {
  display: flex;
  justify-content: space-around;
  align-self: center;
  gap: 10px;
}

.thumbnail .thumbnail-img {
  width: 5rem;
  margin-top: 20px;
}

.thumbnail-img:hover {
  opacity: 0.5;
  cursor: pointer;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.animation {
  opacity: 0;
  animation: fade 0.5s forwards;
}

.active {
  opacity: 0.5;
}

.form-control {
  padding: 15px;
  background: transparent;
  border: 2px solid var(--color-1);
}

.form-control::placeholder {
  color: var(--color-1);
  font-size: 18px;
  font-weight: 700;
}

.form-control:focus {
  background: transparent;
}

/* Animasi */
.denyut {
  animation: pound 0.5s infinite;
  animation-duration: 3s;
}
@keyframes pound {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
